
.carousel {
    width: 100%;
    min-width: 1140px;
    padding: 0 45px;

    &__content {
        overflow: hidden;  
        position: relative;
    }

    &__list {
        left: 0px;
        display: block;
        width: 99999px;
        overflow: hidden;
        
        line-height: 0;
    }

    &__item {
        display: inline-block;
        margin: 0 15px;

        overflow: hidden;
        width: calc(100vw/3 - 60px);
        min-width: 320px; 
        position: relative;

        
    }

    @media all and (max-width: 1140px) {
        &__item {
            width: 320px;
        }
    }

    &__photo {
        width: 100%;
        display: block;
        height: auto;
    }

    &__description {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 166px;
        padding: 20px 15px;
        background-color: rgba(209, 169, 84, 0.9);
    }

    &__description-content {
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: transparent; //
        color: #fff;
        font-weight: 400;
    }

    &__content-header {
        font-size: 30px;
        text-align: center;
    }

    &__content-text {
        font-size: 14px;
        line-height: 1.35;
        text-align: center;
        margin: 0;
        &:last-of-type{margin-bottom:22px;}
        
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60.1px 0 120.5px;

        &-panel {
            width: 172px;
            height: 8.5px;
            display: flex;
            justify-content: space-between;

            & img {
                height: 100%;
                width: auto;
                display: block;
            }
        }

        &-bar {
            width: 144px;
            position: relative;
            
        }

    }

    &__position-stripe {
        border-top: 1px solid #e5e5e5;
        position: absolute;
        top: 4px;
        width: 100%;
    }

    &__current-position {
        border-top: 1px solid #000;
        position: absolute;
        top: 4px;
        width: 20%;
    }

}
