@charset "UTF-8";
/*-----------------------------------------------------------
LOAD FONTS
------------------------------------------------------------*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

/*---------------------------------------------------------------
BASIC SETTINGS
----------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.4rem;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

/*h1 {
    font-size: 3.6rem;
    //line-height: 52.2px;
    margin: 0;
    padding: 0;
    
}*/
h3 {
  font-size: 1.6rem;
  line-height: 1.35;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.35;
  margin: 0;
  padding: 0;
}

/*------------------------------------------------------------
HEADER
--------------------------------------------------------------*/
.header {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) minmax(max-content, auto) minmax(160px, 1fr);
  grid-template-rows: auto;
  color: #000000;
  grid-template-areas: "header__logo header__menu header__menu-icon";
  margin-top: 60px;
  margin-bottom: 60px;
}

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header__logo;
}

.header__logo {
  display: block;
  margin: auto;
  width: 160px;
  height: 87px;
}

.header__menu {
  font-size: 1.3rem;
  grid-area: header__menu;
  display: flex;
  align-items: center;
}

.header__menu-list {
  text-decoration: none;
  list-style: none;
  display: flex;
}

.header__menu-item {
  padding: 6px 8px 5px;
  margin-left: 12px;
  border: 1px solid transparent;
}

.header__menu-item:last-of-type {
  margin-left: 0;
}

.header__menu-item.header__main-page, .header__menu-item:hover {
  border: 1px solid #d1a954;
}

.header__menu-item:hover .header__menu-link {
  color: #d1a954;
}

.header__menu-link {
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.65px;
}

.header__menu-link.header__main-page {
  font-weight: normal;
  color: #d1a954;
}

.header__menu-link.header__current-page {
  font-weight: bold;
  color: #d1a954;
}

.header__menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header__menu-icon;
}

.header__menu-icon-container {
  width: 40px;
  height: 29px;
}

.header__menu-icon-container:hover {
  cursor: pointer;
}

.header__menu-icon-line {
  border-bottom: 1px solid #000;
  margin-bottom: 9px;
}

.header__menu-icon-line:first-of-type {
  margin-top: 4px;
}

.header__menu-icon-line:last-of-type {
  margin-bottom: 4px;
}

/*-------------------------------------------------------------------------
PLAIN CAROUSEL
-------------------------------------------------------------------------*/
.carousel {
  width: 100%;
  min-width: 1140px;
  padding: 0 45px;
}

.carousel__content {
  overflow: hidden;
  position: relative;
}

.carousel__list {
  left: 0px;
  display: block;
  width: 99999px;
  overflow: hidden;
  line-height: 0;
}

.carousel__item {
  display: inline-block;
  margin: 0 15px;
  overflow: hidden;
  width: calc(100vw/3 - 60px);
  min-width: 320px;
  position: relative;
}

@media all and (max-width: 1140px) {
  .carousel__item {
    width: 320px;
  }
}

.carousel__photo {
  width: 100%;
  display: block;
  height: auto;
}

.carousel__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 166px;
  padding: 20px 15px;
  background-color: rgba(209, 169, 84, 0.9);
}

.carousel__description-content {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  height: 100%;
}

.carousel__content-header {
  font-size: 30px;
  text-align: center;
}

.carousel__content-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  margin: 0;
}

.carousel__content-text:last-of-type {
  margin-bottom: 22px;
}

.carousel__control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60.1px 0 0;
}

.carousel__control-panel {
  width: 172px;
  height: 8.5px;
  display: flex;
  justify-content: space-between;
}

.carousel__control-panel img {
  height: 100%;
  width: auto;
  display: block;
}

.carousel__control-bar {
  width: 144px;
  position: relative;
}

.carousel__position-stripe {
  border-top: 1px solid #e5e5e5;
  position: absolute;
  top: 4px;
  width: 100%;
}

.carousel__current-position {
  border-top: 1px solid #000;
  position: absolute;
  top: 4px;
  width: 20%;
}

/*-------------------------------------------------------------------------
О РЕСТОРАНЕ
-------------------------------------------------------------------------*/
.restaurant {
  display: grid;
  grid-template-columns: 1fr repeat(12, 65px) 1fr;
  gap: 30px;
  grid-template-rows: auto auto auto auto;
}

.restaurant__header {
  grid-column: 6/10;
  grid-row: 1/2;
}

.restaurant__header-header1 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.45;
  letter-spacing: 1.8px;
  color: #222222;
  margin: 112px 0 8px 0;
  padding: 0;
}

.restaurant__header-paragraph-icon {
  text-align: center;
  line-height: 0;
}

.restaurant__header .restaurant__location-icon {
  display: inline-block;
  width: 46px;
  height: 30px;
}

.restaurant__header-paragraph {
  margin: 10px 0 30px;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 0.27px;
  text-align: center;
}

.restaurant__photo {
  grid-column: 3/13;
  grid-row: 2/3;
  margin: 0 0 30px;
  padding: 0;
}

.restaurant__photo img {
  display: block;
  width: calc(100% + 60px);
  transform: translateX(-30px);
}

.restaurant__welcome {
  grid-column: 3/7;
  grid-row: 3/5;
}

.restaurant__welcome p {
  color: #616161;
}

.restaurant__welcome p:nth-child(2) {
  white-space: pre-line;
}

.restaurant__location {
  grid-column: 8/11;
  grid-row: 3/4;
}

.restaurant__location h3 {
  vertical-align: baseline;
  margin: 0 0 2rem;
}

.restaurant__location p {
  color: #616161;
}

.restaurant__location img {
  height: 3rem;
  line-height: 0px;
}

.restaurant__interior {
  grid-column: 11/14;
  grid-row: 3/4;
}

.restaurant__interior h3 {
  vertical-align: baseline;
  margin: 1rem 0 2rem;
}

.restaurant__interior p {
  color: #616161;
}

.restaurant__interior img {
  height: 2rem;
  line-height: 0px;
}

.restaurant__technologies {
  grid-column: 8/11;
  grid-row: 4/5;
}

.restaurant__technologies h3 {
  vertical-align: baseline;
  margin: 3.9rem 0 2rem;
}

.restaurant__technologies p {
  color: #616161;
}

.restaurant__technologies img {
  height: 3.1rem;
  line-height: 0px;
}

.restaurant__equipment {
  grid-column: 11/14;
  grid-row: 4/5;
}

.restaurant__equipment h3 {
  vertical-align: baseline;
  margin: 3.3rem 0 2rem;
}

.restaurant__equipment p {
  color: #616161;
}

.restaurant__equipment img {
  height: 3.7rem;
  line-height: 0px;
}
/*# sourceMappingURL=styles.css.map */